WORDPRESS_DB_HOST=mysql
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=<Secret>
WORDPRESS_DB_NAME=wordpress

WORDPRESS_TABLE_PREFIX=wp_

WORDPRESS_AUTH_KEY=<Secret>
WORDPRESS_SECURE_AUTH_KEY=<Secret>
WORDPRESS_LOGGED_IN_KEY=<Secret>
WORDPRESS_NONCE_KEY=<Secret>
WORDPRESS_AUTH_SALT=<Secret>
WORDPRESS_SECURE_AUTH_SALT=<Secret>
WORDPRESS_LOGGED_IN_SALT=<Secret>
WORDPRESS_NONCE_SALT=<Secret>
